body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #87CEEB;
  /* Mismo color que el fondo del juego */
}

#root {
  width: 100vw;
  height: 100vh;
  display: block;
}